@media only screen and (max-width: 1024px) {
  .header {
    &__input,
    &__lines {
      display: block;
    }

    &__input:checked ~ &__menus {
      right: 0;
    }

    &__container {
      background: #0a2540;
      height: 60px;
    }

    &__logo {
      height: 50px;
      margin-left: 25px;
    }

    &__menus {
      position: absolute;
      background: #e4e4e6;
      padding-bottom: 15px;
      width: 100%;
      max-height: calc(100vh - 60px);
      top: 60px;
      right: -2000px;
      overflow-y: auto;
      text-align: center;
      display: flex;
      flex-direction: column-reverse;
      // align-items: center;
      // justify-content: flex-start;
      transition: 0.8s;
    }
    nav {
      display: block;
      background: #e4e4e6;

      li {
        padding: 5px 0;
      }

      &:first-child,
      &:last-child {
        a {
          margin-left: 30px;
          font-weight: 400;
          font-size: 17px;
          color: #000;

          padding: 0;
          margin: 0;
        }

        background: #e4e4e6;
        &::before,
        &::after {
          content: '';
          background: none;
          width: 0;
          height: 0;
        }

        & .telephone {
          margin-left: 0;

          a {
            padding-left: 24px;
            background: url('../img/icon/tel_black.svg') no-repeat left center;

            font-weight: 600;
            font-size: 18px;
            color: #000;
          }
        }
      }
    }

    &__top-menu {
      display: block;

      &::after {
        content: '';
      }
      a {
        margin-left: 30px;
        font-weight: 400;
        font-size: 16px;
        color: #000;
      }
    }
    &__down-menu {
      display: block;
    }
  }

  .sub-menu {
    display: none;
    border: 2px solid #0a2540;
    width: 60%;
    margin: 0 auto;
    position: static;
    transform: scale(1);
    li {
      border-bottom: none !important;
    }
  }

  .menu-item-has-children {
    &::after {
      content: '';
      position: absolute;

      top: 5px;
      right: 20px;
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid #0a2540;
      background: url('../../img/icon/sub-menu.svg') no-repeat right 4px center;
    }
  }
  //menu end
  .container {
    padding: 0 15px;
  }
  .first-screen {
    &__body {
      background-image: url('../img/first-screen_bg_1280.jpg');
      margin-top: 60px;
      .container {
        display: flex;
        align-items: center;
        min-height: 510px;
      }
    }

    &__text {
      padding: 15px;
      border-radius: 6px;
      background: rgba(#fff, 0.5);
    }
  }

  .find-job {
    .container {
      padding: 0;
    }
    &__body {
      display: block;
    }
    &__left {
      padding-left: 15px;
      padding-right: 15px;
      form {
        display: block;
      }
    }
    &__right {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .footer {
    &__widgets {
      display: block;
    }
  }

  .widget {
    margin: 0 auto;
  }
}
