@import 'variables';
@import 'components/all';
@import 'media-queries';
@import 'shared';

@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #425466;
  background-color: #f5f5f5;
  font-weight: 300;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

ul,
li {
  list-style: none;
}

input,
input:focus {
  border: none;
  outline: none;
}

input {
  height: 60px;
  border-radius: 6px;
  padding: 18px 17px 19px 37px;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.1);
  color: #a1a1a1;
  font-size: 15px;
  line-height: 23px;
  font-weight: 300;
}

.wrapper {
  max-width: $max-width-wrapper;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: $max-width-container;
  margin: 0 auto;
}
