.find-job {
  background: #f6f9fc;

  .container {
    padding: 0;
  }

  &__body {
    color: #0a2540;

    h2 {
      font-family: 'Manrope', sans-serif;
      font-size: 24px;
      line-height: 33px;
      font-weight: 400;
      margin-bottom: 5px;
    }
    p {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 20px;
    }

    a {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
    }
  }

  &__left,
  &__right {
    padding: 52px 15px 49px;
  }

  &__left {
    form > * {
      margin-bottom: 15px;
    }
  }

  &__input-city {
    background: #fff url('../../img/icon/geolocation.svg') no-repeat center left 14px;
  }

  &__details {
    margin-top: 15px;
    a {
      color: #12958b;
      display: inline-block;
      padding-right: 20px;
      background: url('../../img/icon/right-arrow.svg') no-repeat top 7px right;
    }
  }

  &__right {
    color: #fff;
    background: #0a2540;
  }
}
